<html lang="en">
    <head>
        <script src='static/Chart.min.js'></script>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/main_style.css" />
        <style>
            #about{
                align-content: center;
                align-self: center;
                padding: 1%;
                border: solid 1px #4cdef5;
                height: 70%;
                width: 80%;
                left: 0px;
                right: 0px;
                position: absolute;
                margin: auto;
                color:#f7ef6a;
                overflow: auto;
            }
        </style>
    </head>
    <body>
        <h1>tiBot @{{twitterName}}</h1>
        <div id="menu-container">
            <a href="/" class="flexItems">Home</a>
            <a href="/stats" class="flexItems">Stats</a>
            <a href="/query" class="flexItems">Query</a>
            <a href="/debug" class="flexItems">Debug</a>
            <a href="#" class="flexItems">About</a>
        </div>
        <div id="about">
            <h2>About page</h2>
            <p>Profile Overview: </p>
            <p>
                If the "Following" stat is slightly off, it's because a person you followed is now suspended/deleted his twitter account.
                This causes you to automatically unfollow, so the number might be slightly off.
                This will be fixed, when the time for said person to be unfollowed naturally occurs
            </p>
        </div>
</html>